.body{
    font-family: 'galyon-boldbold';
}

.event-card {
    text-align: left;
    background-color: red;
    color: #0B2156;
    margin: 2rem; 
}

.event-date{
    border-top: 0.25rem solid black;
    margin: 2rem;
    padding-top: 1rem;
}

.event-body {
    background-color: lightgray;
}

.fav-icon {
    justify-content: right;
    display: inline;
}

.details-card{
    color: red;
}

.blockquote-footer{
    text-decoration: underline; 
}

