.near-me-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -2rem;
}

.near-me-cards > .near-me-categories {
    width: 90%;
    display: flex;
    border: 0.1rem black solid;
    justify-content: start;
    margin: 1rem 0 1rem 0;
    padding: 2rem 1rem;
}

.homepage {
    text-align: left;
    margin-left: 2rem;
    font-family: 'galyon-boldbold';
}

.popup-cards {
    display: flex;
    align-items: center;
}

.popup-cards > .pop-categories {
    width: 8rem;
    height: 8rem;
    border: 0.1rem black solid;
    margin: 1rem 1rem 1rem 0;
    padding: .5rem 1rem;
}