.nav-bar {
    text-align: center;
    background-color: #f4b72f;
}

.nav-bar > ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 1rem 0;
}

.nav-bar li {
    font-size: 1.25rem;
    background-color: white;
    border-radius: 50%;
    height: 4.5rem;
    width: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .25rem solid black;
    background-color: #f4b72f;
}

.nav-bar li img {
    height: 3rem;
}