.nav-bar {
    text-align: center;
    background-color: lightgray;
}

.nav-bar > ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    padding-left: 0;
}

.nav-bar li {
    font-size: 1.25rem;
}