.nav-bar {
    text-align: center;
    background-color: #FFC45C;
    height: 100%;
}

.nav-bar > ul {
    list-style: none;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    height: 100%;
    width: 100%;
    padding: 0 0 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: end;
}

.nav-bar li img.home-icon {
    height: 5.4rem;
    width: 4.1rem;
}

.nav-bar li img.events-icon {
    height: 5.3rem;
    width: 5rem;
}

.nav-bar li img.benefits-icon {
    height: 5.6rem;
    width: 7.9rem;
}

.nav-bar li img.favorites-icon {
    height: 5.3rem;
    width: 6.9rem;
}